# Mindora Conv Therapy Module Data Cleaning

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('data_csv/aggr_data.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 626332 entries, 0 to 626331
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Context   626332 non-null  object
 1   Response  626332 non-null  object
dtypes: object(2)
memory usage: 9.6+ MB

In [ ]:
# count instances of the word Charlie in the response column (contains the text of the response)
print(df['Response'].str.contains('Charlie').sum())
print(df['Context'].str.contains('Charlie').sum())

494766
325

In [ ]:
print(df['Response'].str.contains('@').sum())
print(df['Context'].str.contains('@').sum())

6
0

In [ ]:
# delete rows that contain Font Definitions
df = df[~df['Response'].str.contains('Font Definitions')]
print(df['Response'].str.contains('Font Definitions').sum())

#print all the rows that contain the @ in the response column
print(df[df['Response'].str.contains('@')])

0
                                                Context  \
5837  After he got home from the hospital he was ang...
6331  How can I maintain social connections? What if...
9443  After he got home from the hospital he was ang...

                                               Response
5837  A failed suicide attempt is commonly thought o...
6331  A lot of people are alone right now, but we do...
9443  A failed suicide attempt is commonly thought o...

In [ ]:
print(df['Response'].str.contains('@').sum())
print(df['Context'].str.contains('@').sum())

3
0

In [ ]:
print(df['Response'].str.contains('alex').sum())
print(df['Context'].str.contains('alex').sum())
print(df['Response'].str.contains('Francis').sum())
print(df['Context'].str.contains('Francis').sum())

4
0
1
1

In [ ]:
print(df['Response'].str.contains('James').sum())
print(df['Context'].str.contains('James').sum())

37
31

In [ ]:
print(df['Response'].str.contains('Francis').sum())
print(df['Context'].str.contains('Francis').sum())

In [ ]:
# print all full words containg 'alex' in the dataset
print(df[df['Response'].str.contains('alex', case=False)])

                                                  Context  \
1271    I was raped a couple months ago, Since then, a...
3733    I was raped a couple months ago, Since then, a...
6357       What's the difference between antidepressants?
7339    I was raped a couple months ago, Since then, a...
11067   It's been weeks since the breakup, and I can't...
...                                                   ...
625885  I've been feeling really jealous lately, and I...
625904  I'm afraid to go back to school. It's been so ...
626036  I feel lost. My marriage just ended and I don'...
626076  I feel so guilty and isolated. It's like I'm t...
626326  I've been feeling really depressed lately, and...

                                                 Response
1271    Hi!This is a great question!The term you are l...
3733    Hi!This is a great question!The term you are l...
6357    There are many different types of antidepressa...
7339    Hi!This is a great question!The term you are l...
11067   Hi Charlie, I'm Alex, and I want you to know t...
...                                                   ...
625885  Hi Charlie, I'm Alex, and I'm here to support ...
625904  Hi Charlie, I'm Alex, your therapist. It sound...
626036  Hi Charlie, I'm Alex, your therapist. I'm sorr...
626076  Hi Charlie, I'm Alex, your therapist. I'm here...
626326  Hi Charlie, I'm Alex. I'm here to support you ...

[3092 rows x 2 columns]

In [ ]:
print(df['Response'].str.contains('John').sum())
print(df['Context'].str.contains('John').sum())
print(df['Response'].str.contains('Jane').sum())
print(df['Context'].str.contains('Jane').sum())

196
143
28
18

In [ ]:
# delete name Charlie from the text which are conversation
df['Context'] = df['Context'].str.replace('Charlie', '')
df['Response'] = df['Response'].str.replace('Charlie', '')

In [ ]:
# process the text in the dataframe to remove the unwanted characters
df['Context'] = df['Context'].str.replace(r'\n', ' ')
df['Context'] = df['Context'].str.replace(r'\r', ' ')
df['Context'] = df['Context'].str.replace(r'\t', ' ')
df['Context'] = df['Context'].str.replace(r'\\', ' ')
df['Context'] = df['Context'].str.replace(r'/', ' ')
df['Context'] = df['Context'].str.replace(r'\s+', ' ')

df['Response'] = df['Response'].str.replace(r'\n', ' ')
df['Response'] = df['Response'].str.replace(r'\r', ' ')
df['Response'] = df['Response'].str.replace(r'\t', ' ')
df['Response'] = df['Response'].str.replace(r'\\', ' ')
df['Response'] = df['Response'].str.replace(r'/', ' ')
df['Response'] = df['Response'].str.replace(r'\s+', ' ')

In [ ]:
# Remove leading spaces from 'Context' and 'Response'
df['Context'] = df['Context'].str.lstrip()
df['Response'] = df['Response'].str.lstrip()

In [ ]:
import re

def anonymize_text(text):
    # remove email addresses
    text = re.sub(r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b', '[EMAIL]', text)
    
    # remove phone numbers
    text = re.sub(r'\b\d{3}[-.\s]??\d{3}[-.\s]??\d{4}\b', '[PHONE]', text)
    
    # remove social security numbers
    text = re.sub(r'\b\d{3}-\d{2}-\d{4}\b', '[SSN]', text)
    
    
    return text

In [ ]:
# import re
# def clean_text(text):
#     text = text.lower() # convert to lowercase
#     text = re.sub(r'\[.*?\]', '', text) # remove text in square brackets
#     text = re.sub(r'[^\w\s]', '', text) # remove punctuation
#     text = re.sub(r'\n', ' ', text) # remove new line characters
#     text = re.sub(r'\w*\d\w*', '', text) # remove words containing numbers
#     text = re.sub(r'\s+', ' ', text).strip() # remove extra spaces
#     return text

In [ ]:
# df['Context'] = df['Context'].apply(clean_text)
# df['Response'] = df['Response'].apply( clean_text)

In [ ]:
# Combine 'Context' and 'Response' into a new column with the desired format
combined = '<s>[INST] ' + df['Context'] + ' [/INST] ' + df['Response'] + ' </s>'

# Display the first 15 rows of the new column
print(combined.head(1))

0    <s>[INST] I have so many issues to address. I ...
dtype: object

In [ ]:
# save the new column to a csv file
combined = combined.rename('text')
combined.to_csv('data_csv/mental_health_conv.csv', index=False)

In [ ]:
data = pd.read_csv('data_csv/mental_health_conv.csv')
data.head(15)

                                                    0
0   <s>[INST] I have so many issues to address. I ...
1   <s>[INST] I have so many issues to address. I ...
2   <s>[INST] I have so many issues to address. I ...
3   <s>[INST] I have so many issues to address. I ...
4   <s>[INST] I have so many issues to address. I ...
5   <s>[INST] I have so many issues to address. I ...
6   <s>[INST] I have so many issues to address. I ...
7   <s>[INST] I have so many issues to address. I ...
8   <s>[INST] I have so many issues to address. I ...
9   <s>[INST] I have so many issues to address. I ...
10  <s>[INST] I have so many issues to address. I ...
11  <s>[INST] I have so many issues to address. I ...
12  <s>[INST] I have so many issues to address. I ...
13  <s>[INST] I have so many issues to address. I ...
14  <s>[INST] I have so many issues to address. I ...

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 626332 entries, 0 to 626331
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       626332 non-null  object
dtypes: object(1)
memory usage: 4.8+ MB

In [ ]:
combined.info()

<class 'pandas.core.series.Series'>
RangeIndex: 626332 entries, 0 to 626331
Series name: text
Non-Null Count   Dtype
--------------   -----
626332 non-null  object
dtypes: object(1)
memory usage: 4.8+ MB

### Handle names discovered in name_extraction

In [ ]:
# TODO: